<div class="nested-fields">
    <div class="field">
      <div class="form-inline">
      <div class="form-group">
      <%= f.label :phone %><br>
      <%= f.text_field :phone, class: "form-control" %>
      <%= link_to_remove_association('remover', f, class: "btn btn-danger ") %>
      </div>
      </div>
    </div>
</div>