<h1>Seja bem-vindo!</h1>


<ul class="nav flex-column">
  <li class="nav-item">
    <%= link_to kinds_path, class:"nav-link" do %>
        <span class="glyphicon glyphicon-list" aria-hidden="true"></span> <%= "Tipos" %>
    <% end %>
  </li>
  <li class="nav-item">
   <%= link_to contacts_path, class:"nav-link" do %>
        <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span> <%= "Contatos" %>
    <% end %>
  </li>
</ul>